.container {
  background-color: rgb(230, 228, 228);
  width: 100%;
  min-height: 100vh;
  color: black;
}
.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.paginationButton {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 1.5rem;
  margin: auto;
}

.paginationButton button {
  background-color: #3189e1f3;
  color: white;

  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
